.recept{
  padding-left: 3vw;
  flex-wrap: wrap;
  width: 65vw;
}

.card {
  width: 25vw;
  padding-bottom: 2vw;
}

.card-image {
  border-radius: 24px 24px 0 0;
}

.favorite-icon {
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 85%;
  width: 5vw;
}

.color-pink {
  color: #FF63F9;
}
.card-title{
  color:#000000;
  font-weight: 600;
  font-size: 20px;
}

.card-time{
  color:#6D6D6D;
  font-weight: 600;
  font-size: 20px;
}

.card-difficulty{
  color:#6D6D6D;
  font-weight: 400;
  font-size: 16px;
  
}