
.pagination{
  display: flex;
  justify-content: center;
}

.pagination-button{
  padding: 0 10px;
  cursor:pointer;
}

.pagination-selected{
  border-radius: 4px;
  border: #9B9B9B 1px solid;
}

.disabled{
    color:#9B9B9B;
    cursor: default;
}