#root {
  width: auto;
}

.container {
  margin: 0 auto;
  width: 81rem;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.logo {
  height: 10rem;
}

.color-black {
  color: black;
}

.text-align-center {
  text-align: center;
}

.align-items {
  align-items: center;
}

.d-flex {
  display: flex;
}

.j-c-space-between {
  justify-content: space-between;
}

.flex-direction-column-center {
  flex-direction: column;
  width: max-content;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.w-25vw{
  width: 25vw;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.margin-auto {
  margin: auto;
}

.cursor-default {
  cursor: default;
}